<div class="options-nav-container">
    <!-- FILTERS -->
    <div id="filters" class="mt-3">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">pool</span>
            <p>Amazing pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-city"></i>
            <p>Iconic cities</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-sun"></i>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">cabin</span>
            <p>Cabins</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">surfing</span>
            <p>Surfing</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">beach_access</span>
            <p>Beach</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">camping</span>
            <p>Camping</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">wind_power</span>
            <p>Farms</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">houseboat</span>
            <p>Houseboats</p>
        </div>
        <div class="filter">
            <span class="material-symbols-outlined">castle</span>
            <p>Castles</p>
        </div>
    </div>

    <!-- TAX SWITCH -->
    <div class="tax-switch">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total before taxes</label>  
        </div>
    </div>
</div>

<script src="/js/taxSwitch.js"></script>