<!-- ========== SUCCESS FLASH MESSAGE ========== -->
<% if(success && success.length) { %>
  <!-- Alert box for success messages -->
  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %> <!-- Display the success message -->
    
    <!-- Button to dismiss the alert -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<!-- ========== ERROR FLASH MESSAGE ========== -->
<% if(error && error.length) { %>
  <!-- Alert box for error messages -->
  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
    <%= error %> <!-- Display the error message -->
    
    <!-- Button to dismiss the alert -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
