<link rel="stylesheet" href="/css/style.css">
<!-- IMPORT GOOGLE ICONS LINK -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<!-- HEADER-CONTENT -->
<header class="navbar-container">
    <div class="navbar-logo">
        <img src="../photos/logo.png" alt="logo">
        <h4>TripNest</h4>
    </div>
    <div class="mid-container">
        <div class="home-and-new-btn">
            <form method="get" action="/listings">
                <button>Home</button>
            </form>
            <form method="get" action="/listings/new">
                <button>New</button>
            </form>
        </div>
        <div class="search-bar">
            <input placeholder="search destinations" name="search" type="text">
            <button class="search-btn">
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
    </div>
    <div class="user-container">
        <div class="user-dropdown-logo">
            <span class="material-symbols-outlined">person</span>
        </div>
        <div class="user-dropdown-menu">
            <% if (!currentUser) { %>
                <a href="/signup">Sign up</a>
                <a href="/login">Log in</a>
            <% } %>
            <% if (currentUser) { %> 
                <a href="/logout">Log out</a>
            <% } %>
            <div class="divider"></div>
        </div>
    </div>
</header>
<script src="/js/dropdown.js"></script>