<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <div class="img-box">
            <img src="https://static-00.iconduck.com/assets.00/emoji-sad-icon-1024x1024-t873gdf3.png" alt="error-photo">
            <h1 class="err-status-txt"><%= status %></h1>
        </div>
        <h4 class="err-msg"><%= message %></h4>
        <!-- <button>Go Back</button> -->
    </div>
</body>
</html>