<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../photos/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripNest</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <div class="img-box">
            <img src="../photos/sad_emoji.png" alt="error-photo">
            <h1 class="err-status-txt"><%= status %></h1>
        </div>
        <h4 class="err-msg"><%= message %></h4>
        <!-- <button>Go Back</button> -->
    </div>
</body>
</html>