<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Wanderlust website</h1>
        <button><a href="/signup">SignUp</a></button>
        <a class="dashboard-lnk" href="/listings">Let's Go to Website</a>
    </div>
</body>
</html>