<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../photos/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripNest</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>TripNest Website</h1>
        <button><a href="/signup">SignUp</a></button>
        <a class="dashboard-lnk" href="/listings">Let's Go to Website</a>
    </div>
</body>
</html>