@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Kaushan+Script&family=Playwrite+AU+NSW:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body {
    width: 100%;
    height: 100dvh;
    background: linear-gradient(to top, #7F57F1, #e0e0e0);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Kaushan Script', sans-serif;
    font-size: clamp(1.2rem,4vw, 2.4rem);
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    animation: motion 1.5s infinite alternate;
}
@keyframes motion {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-8px);
    }
}

button {
    padding: 0.3rem 1rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.25);
    background: white;
    cursor: pointer;
}
button:hover {
    border: 1px solid white;
    background: transparent;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

button a {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: 600;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    text-decoration: none;
    color: black;
}
button:hover a { color: white; }


.dashboard-lnk {
    color: black;
    font-family: 'Playwrite Australia', sans-serif;
    font-size: clamp(0.65rem, 2vw, 1rem);
    font-weight: 600;
    text-decoration: none;
}
.dashboard-lnk:hover { text-decoration: underline; }