@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arizonia&family=Comfortaa:wght@300..700&family=Henny+Penny&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

/* NAV-BAR */
.navbar-container {
    width: 100%;
    height: clamp(7rem, 15vw, 10rem);
    border-bottom: 1px solid #E0E0E0;
    background: white;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.8rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-container .navbar-logo {
    /* border: solid; */
    width: clamp(20%, 20vw, 25%);
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo img {
    width: clamp(2rem, 5vw, 4rem);
    
}

.navbar-logo h4 {
    font-family: 'Arizonia', sans-serif;
    font-size: clamp(1rem, 2vw, 1.8rem);
    font-weight: bold;
    color: #0096c7;
    letter-spacing: 0.1rem;
}

.navbar-container .mid-container {
    /* border: solid; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    row-gap: 1rem;
}

.home-and-new-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: clamp(1rem, 2vw, 2rem);
}

.home-and-new-btn form button {
    border: none;
    outline: none;
    background: none;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    font-weight: 600;
    cursor: pointer;
}
form button:hover { transform: translateY(-4px); }
/* form button:active { opacity: 0.5; } */

.search-bar {
    width: 90%;
    height: clamp(2.5rem, 6vw, 3.5rem);
    display: flex;
    align-items: center;
    border-radius: 5rem;
    padding-left: 1.5rem;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: clamp(0.5rem, 1.4vw, 1.2rem);
}
.search-bar .search-btn {
    width: clamp(1.5rem, 5vw, 3.5rem);
    height: 100%;
    /* padding: 0 0.5rem; */
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, #7F57F1, #e0e0e0);
    color: white;
    cursor: pointer;
}

.search-btn span { font-size: clamp(0.5rem, 2vw, 1.8rem); }

.navbar-container .user-container {
    /* border: solid; */
    width: clamp(20%, 20vw, 25%);
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.user-container .user-dropdown-logo {
    width: clamp(1.5rem, 4vw, 3rem);
    height: clamp(1.5rem, 4vw, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}
.user-dropdown-logo:hover { background: #eeeeee; }

.user-dropdown-logo span { font-size: clamp(1.2rem, 3vw, 2rem); }

.user-dropdown-menu { display: none; }

.user-dropdown-menu.active {
    background: #ffffff;
    border-radius: 1.2rem;
    position: absolute;
    width: clamp(8rem, 30vw, 12rem);
    height: clamp(6rem, 20vw, 9rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 75%;
    right: 3rem;
    padding: 0.75rem;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
}

.user-dropdown-menu a {
    font-size: clamp(0.5rem, 3vw, 1rem);
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}
.user-dropdown-menu a:hover {
    background: #f1f1f1;
}

.user-dropdown-menu .divider {
    border-bottom: 1px solid #e0e0e0;
}
/* END */

/* MAIN CONTENT */
body {
    height: 100%;
    margin-top: clamp(8rem, 20vw, 12rem);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* text-align: center; */
}

.content {
    flex: 1;
    height: 100dvh;
    padding: 0 10px;
    margin-bottom: 20px;
}

/* END */

/* FOOTER */
.footer-container {
    width: 100%;
    height: clamp(5rem, 30vw, 8rem);
    background: #EFEFEF;
    bottom: 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    row-gap: 0.5rem;
}

.footer-info-socials, .footer-info-links, .footer-info-brand-name { width: 100%; }

.footer-info-brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.85rem, 3vw, 1rem);
}

.footer-info-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.7rem;
}
.footer-info-socials i { font-size: clamp(0.8rem, 4vw, 1.2rem); }

.footer-info-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.1rem;
}
.footer-info-links a {
    text-decoration: none;
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: black;
}
.footer-info-links a:hover { text-decoration: underline; }
/* END */

/* CARD */
.card {
    border: none !important;
    margin-bottom: 20px;
    overflow: hidden !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0;
    margin-top: 10px;
}

.card-heading {
    font-weight: 600;
    margin: 0 0 10px 10px;
}

.card-text { margin-left: 10px; }
.card .card-price { margin-left: 20px; }
.card-listing-link { text-decoration: none; }

/* card overlay */
.card-img-overlay h4 {
    font-weight: 600;
    color: #e0e0e0ea;
    transform: scale(0.9);
}
.card-img-overlay:hover h4 { transform: scale(1); }

.card-img-overlay {
    width: 100%;
    height: 77.95%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    border-radius: 1rem !important;
}
.card:hover .card-img-overlay {
    opacity: 1;
    backdrop-filter: blur(4px);
}
/* end overlay*/
/* END */

/* CREATE NEW & EDIT LISTING */
.btn {
    background: #7F57F1;
    border: none;
    outline: none;
    font-weight: 600;
    transition: 0.3s;
}
.btn:hover { background: #5A3DB3; }
/* END */

/* SHOW PAGE */
.show-img { height: 50vh; }

.card-txt {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.card-owner {
    font-weight: 500;
    margin-left: 1rem;
}

.card-price, .card-description, .card-location, .card-country { margin-left: 30px; }

.btns {
    width: 50%;
    height: 50px;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btns button a {
    text-decoration: none;
    color: white;
    font-size: 18px !important;
    font-weight: 600;
}
.btns button {
    width: 10%;
    height: 90%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #7F57F1;
}

.btns form {
    width: 10%;
    height: 90%;
}
.btns form button {
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 18px;
    background: #7F57F1;
}

.btns button:hover {
    background: #5A3DB3;
    transform: translateY(-5px);
}
/* END */

/* REVIEW */
.review-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.card-title { margin-bottom: 1.5rem; }

.review-container form .btn {
    border: 1px solid black;
    background: transparent;
}
.review-container form .btn:hover {
    transform: none;
    background: #000;
}

/* review delete button */
.delete-btn { text-align: right; }

.review-card .delete-btn button {
    width: 2em;
    height: 2em;
    margin-right: 1rem;
    border: none;
    outline: none;
    background: none;
    transform: none;
}

.delete-btn svg {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 99px;
    opacity: 0;
    cursor: pointer;
    fill: grey;
}

.review-card:hover form svg { opacity: 1; }
.delete-btn svg:hover {
    fill: black;
    transition: 150ms;
    background: #d6d6d6;
}

/* review show more */
.show-reviews {
    height: 17em;
    overflow: hidden;
}
.show-reviews.open { height: auto; }
#show-more {
    position: relative;
    z-index: 1;
    left: 52%;
    color: #505050e3;
    border: none;
    outline: none;
    background: none;
}
/* END */